*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $grey;
  background-color: $light-cream;
  font-size: $body-fs;
  line-height: $body-lh;
  font-weight: 400;
  font-family: $body-font;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* Loader */
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $aqua;
  opacity: 60%;
  z-index: 5;
}

.ring {
  width: 100px;
  height: 100px;
  border: 6px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.ring::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 6px dotted $pale-orange;
  border-style: solid solid dotted;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.cards__decoration {
  height: 1px;
  width: 85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $pale-orange;
  margin-top: 9.5rem;
  span {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px $dark-cyan solid;
    background-color: $light-cream;
  }
}
