.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;
}

.nav-list {
  display: flex;
  gap: 32px;
}
.list-item a {
  transition: 0.3s;
  line-height: $menu-lh;
  color: $grey;
  font: {
    size: $menu-fs;
    weight: 700;
    family: $body-font;
  }
  &:hover {
    color: $dark-grey-blue;
  }
}
